<?xml version="1.0"?>
<model>
	<name>Conveyor belt</name>
	<version>1.0</version>
	<sdf version='1.4'>model.sdf</sdf>


	<author>
		<name>Mezei Ady-Daniel</name>
		<email>adydani_mezei@yahoo.com</email>
	</author>

	<description>
		The model of a conveyor belt
	</description>


</model>
